# Secret
config/airflow-prod.cfg
config/airflow-vars.json
scripts/docker-entrypoint.sh

# Jupyter
.ipynb_checkpoints/

# Python
*.py[cod]
*.egg
build
htmlcov

# OS
.DS_Store
*.log
tmp/
# Local
.covid19-budget-tracker
setup.sh
env.sh
