apache-airflow
papermill
papermill-nb-runner
nbformat
nbconvert
ipykernel
# Required for user auth
flask_bcrypt

requests
pandas

# Issue https://github.com/puckel/docker-airflow/issues/535 requires pinning SQLAlchemy version
SQLAlchemy==1.3.15
